.dashboard-wrapper {
  position: relative;
}

.top-container-dashboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  background-color: #f3f8f4;
}

.card {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
}

@media screen and (max-width: 3200px) {
  .top-container-dashboard {
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  }
}

@media screen and (max-width: 2400px) {
  .top-container-dashboard {
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  }
}

@media screen and (max-width: 600px) {
  .top-container-dashboard {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media screen and (max-width: 400px) {
  .top-container-dashboard {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}


.financial-goals-container {
  grid-column: 1 / -1;
  background-color: white !important;
}

.transaction-container {
  grid-column: 1 / -1;
  background-color: white;
}

.stats {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.stats p {
  text-align: center;
}

.stats img {
  width: 90%;
  height: 350px;
  border-radius: 50px;
}
.stats button {
  background-color: #c2e299;
  padding: 6px 6px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-weight: 700;
  width: 100%;
  margin-top: auto;
}
.stats button:hover {
  background-color: #67b206;
}

.add-goal {
  width: fit-content !important;
  margin-left: 60% !important;
}

.stats p {
  font-weight: 700;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f3f8f4;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 1000;
  width: 50%;
  max-width: 500px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
  height: fit-content;
}

.modal-content {
  max-height: 80vh;
  overflow-y: auto; /* Enable vertical scrollbar when content exceeds the height */
}

.modal.open {
  opacity: 1;
  pointer-events: auto;
}

.modal h2 {
  margin-bottom: 20px;
  text-align: center;
}

.modal label {
  display: block;
  margin-bottom: 5px;
  margin-top: 5px;
  font-weight: 500;
}

.modal span {
  cursor: pointer;
}

.modal.open span {
  cursor: pointer;
}

.modal select {
  padding: 5px 5px;
  border: 1px solid black;
  margin-top: 5px;
  margin-bottom: 5px;
}

.modal input {
  width: calc(100% - 40px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal button {
  background-color: #c2e299;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  margin-top: 20px;
}

.modal button:hover {
  background-color: #67b206;
}

.add-goal-btn-card {
  background-color: #c2e299;
  padding: 8px 8px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  font-weight: 500;
  width: fit-content;
}

.add-goal-btn-card:hover {
  background-color: #67b206;
}

.sources {
  margin: auto auto;
}

.chart-canvas, .chart-canvas-pie{
  width: fit-content;
  margin: auto auto;
}

.chart-canvas {
  margin-top: 100px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
  text-align: left;
}

