.financial-goals-container {
  display: flex;
  flex-direction: column;
  background-color: #f3f8f4;
  height: 100vh;
}

.select-goals-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  padding: 15px;
}

.add-goal-container {
  margin-bottom: 20px;
}

.goals-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.goal-card {
  flex: 0 0 calc(20% - 20px); /* Adjust card width for 3 cards per row with margin */
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
  height: 100px;
  background-color: white;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  z-index: 999; /* Ensure it's above everything else */
  pointer-events: none; /* Allow clicks to pass through */
}

.overlay.active {
  display: block;
  pointer-events: auto; /* Prevent clicks on elements below */
}

.modal-financial {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 1000;
  width: 30%;
}

.modal-financial h2 {
  margin-bottom: 20px;
  text-align: center;
}

.modal-financial span {
  cursor: pointer;
}

.modal-financial p {
  font-weight: 500;
  font-size: medium;
}

.modal-financial input {
  width: calc(100% - 40px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal-financial button {
  background-color: #c2e299;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  margin-top: 20px;
}

.modal-financial button:hover {
  background-color: #67b206;
}

.active-goals-container,
.achieved-goals-container {
  margin-top: 20px;
  margin: 15px;
  padding: 15px;
}

.active-goals-container h2,
.achieved-goals-container h2 {
  margin-bottom: 10px;
  text-align: center;
}
.goal-card p {
  text-align: center;
  font-weight: 600;
  margin-top: 1px;
}

.active-goals-container {
  margin-top: 20px;
}

.active-goals-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.active-goal-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Style for the FinancialGoalCard component */
.financial-goal-card {
  flex: 0 0 calc(25% - 20px); /* Adjust card width for 4 cards per row with margin */
  margin: 10px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.financial-goal-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
  cursor: pointer;
}

.financial-goal-card p {
  margin-bottom: 10px;
}

.financial-goal-card progress {
  width: 100%;
  margin-top: 10px;
}

.financial-goal-card button {
  background-color: #c2e299;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.financial-goal-card button:hover {
  background-color:  #67b206;
}

.achieved-goals-container {
  margin-top: 20px;
  margin: 15px;
  padding: 15px;
}

.achieved-goals-container h2 {
  margin-bottom: 10px;
  text-align: center;
}

.achieved-goal-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.achieved-goal-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  background-color: white;
  border-radius: 50%; /* Adjust border radius as needed */
  padding: 20px; /* Adjust padding as needed */
}

.achieved-goal-item img {
  width: 60px;
  height: 60px; /* Adjust height as needed */
  border-radius: 50%; /* Ensure the image is displayed in a circle */
  margin-bottom: 10px;
}

.achieved-goal-item div {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .achieved-goal-item {
    flex-direction: row;
    align-items: center;
    max-width: 200px; /* Limit the width of the item for smaller screens */
    padding: 10px; /* Adjust padding for smaller screens */
  }

  .achieved-goal-item img {
    margin-right: 10px; /* Add space between image and text on smaller screens */
  }
}