.landing-container {
  display: flex;
  height:100vh;
  background-color: #f3f8f4;
}

.landing-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: auto auto;
}

.landing-intro {
  flex: 1;
  padding-right: 20px;
}

.landing-intro img {
  width: 90%;
  height: auto;
  border-radius: 20px;
}

.landing-register-top-container {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.landing-signin,
.landing-signup {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 20px;
}

.landing-signin i,
.landing-signup i {
  margin-top: 10px;
}