.all-transactions-container {
  margin: 20px 20px;
  display: flex;
  flex-direction: column;
}

.all-transactions-container h2 {
  text-align: center;
}

.search-sort {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  height: 40px;
  background-color: #c2e299;
  padding: 0 20px;
  border-radius: 8px;
}

.search-sort label {
  font-weight: 700;
  margin: auto auto;
  margin-right: 20px;
  margin-left: 20px;
}

.search-sort input[type="text"] {
  flex: 1;
  border: none;
  outline: none; 
  background-color: white;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}

.search-sort select {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}

.transactions-table {
  width: 100%;
  border-collapse: collapse;
}

.transactions-table th,
.transactions-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.transactions-table th {
  background-color: #f2f2f2;
}

.transactions-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.edit-btn,
.delete-btn {
  padding: 6px 12px;
  cursor: pointer;
  background-color: #69d25f;
  border: none;
  color: white;
  border-radius: 4px;
}

.delete-btn {
  background-color: #f17269;
}

.edit-btn:hover {
  background-color: #139c07;
}

.delete-btn:hover {
  background-color: #ed2113;
}
